<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2 style="font-size: 3rem;" id="title">Thanks For Sign Up</h2>
            </form>
        </div>

        
    </div>

    <div class="footer">
        <footer>
            <span>&copy;Mahedy Hasan Noman. All Right Reserved.</span>
        </footer>
    </div>

<style>
             * {
            margin: 0;
            padding: 0;
            font-family: 'Times New Roman', Times, serif;
            box-sizing: border-box;
        }

        .container {
            width: 100%;
            height: 100vh;
            background-color: #e5e5f7;
            background-image: url(https://scihparg.com/wp-content/uploads/2021/11/plain-white-background.jpg);
            /* background-image: linear-gradient(rgba(191, 55, 84, 0.662),rgba(13, 69, 43, 0.68)),url(team1.png); */
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .form-box {
            width: 90%;
            max-width: 450px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50px 60px 70px;
            text-align: center;
            background: #ECECEC;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    </style>

</body>
</html>
